<header>
    <nav>
        <a routerLink="/home">Home</a>
    </nav>
</header>
<div class="u-wrapper">
    <div class="u-container">
        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
<footer>
    <p>footer</p>
</footer>