<div class="inner home-page">
  <greeter>Digipolis Angular2 App App</greeter>

  <button (click)="decrement()">-</button>
  {{(counter$ | async)?.value}}
  <button (click)="increment()">+</button>
</div>
